In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\Ansh Trivedi\AppData\Local\Temp\ipykernel_18508\1020607637.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\Ansh Trivedi\Downloads\Social_Network_Ads.csv")

In [3]:
df.iloc[:,2:]

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [5]:
df.sample(5)

      User ID  Gender  Age  EstimatedSalary  Purchased
327  15785170  Female   42            75000          0
127  15745232    Male   26            32000          0
7    15694829  Female   32           150000          1
80   15595917    Male   30            80000          0
320  15774872  Female   52           138000          1

# Train test Split

In [13]:
from sklearn.model_selection import train_test_split 
X_train,X_test,Y_train,Y_test=train_test_split(df.drop('Purchased',axis=1),df['Purchased'],test_size=0.3
                                               ,random_state=0)
X_train.shape,X_test.shape

((280, 4), (120, 4))

## Standard Scaler

In [18]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

#Fit the scaler to the train set, it will learn the parameters
scaler.fit(X_train)

#transforming train and test sets
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Gender

      User ID  Gender  Age  EstimatedSalary
92   15809823    Male   26            15000
223  15593715    Male   60           102000
234  15619407  Female   38           112000
232  15813113    Male   40           107000
377  15800215  Female   42            53000
..        ...     ...  ...              ...
323  15619465  Female   48            30000
192  15779581    Male   29            43000
117  15591433    Male   36            52000
47   15776348  Female   27            54000
172  15794661  Female   26           118000

[280 rows x 4 columns]