In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

C:\Users\Ansh Trivedi\AppData\Local\Temp\ipykernel_1860\96178952.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.DataFrame({
'color':['red','blue','green','green','red','blue']
})

In [3]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [4]:
ohe=OneHotEncoder()

In [7]:
encoded=ohe.fit_transform(df[['color']])

In [11]:
encoded_df=pd.DataFrame(encoded.toarray(),columns=ohe.get_feature_names_out())

In [15]:
df=pd.concat([df,encoded_df],axis=1)

In [17]:
df

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

# Label and Ordinal Encoding

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
df=pd.DataFrame({
'color':['red','blue','green','green','red','blue']
})

In [20]:
le=LabelEncoder()

In [26]:
encoded_df=pd.DataFrame(le.fit_transform(df['color']),columns=df.columns)

In [27]:
encoded_df

   color
0      2
1      0
2      1
3      1
4      2
5      0

### But doing this the model understands that red-2 has greater ranking than green-1 which has greater ranking than blue-0 but that is not true

# Ordinal Encoding

In [35]:
from sklearn.preprocessing import OrdinalEncoder

In [29]:
df=pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [30]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [34]:
df.value_counts()

size
large     2
medium    2
small     2
Name: count, dtype: int64

In [36]:
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [40]:
encoder.fit_transform(df[['size']])

array([[2.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.]])